@import '../../styles/mixins.module';
@import '../../styles/variables.module';

.text {
  &__card {
    width: 424px;
  }

  &__subtitle {
    margin-top: 20px;
    font-size: $fs-subtitle-s;
    font-weight: $fw-semi-bold;
    @include mq-tablet {
      font-size: $fs-subtitle-m;
    }
  }

  &__description {
    margin-bottom: 50px;
    font-size: $fs-description-s;
    font-weight: $fw-light;
    @include mq-tablet {
      font-size: $fs-description-m;
    }
  }
}
