@import '../../styles/mixins.module.scss';
@import '../../styles/variables.module';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.pages {
  width: auto;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  padding: 5px 8px;
  color: $c-text;
}

.link.active {
  background-color: #4caf50;
  color: white;
}

// .list a:hover:not(.active) {background-color: #ddd;}

.link:hover {
  background-color: #e0f0ec;
  cursor: pointer;
}
