@import '../../styles/mixins.module';
@import '../../styles/variables.module';

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  &__text {
    color: #fcf7f7;
    height: inherit;
    margin: 0 auto;
    width: 1100px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: $fw-bold;
    font-size: $fs-title-s;
    text-shadow: 4px 4px #73777a;
    @include mq-tablet {
      font-size: $fs-title-m;
    }
  }
}

.logo {
  position: absolute;
  right: 120px;
  top: 65px;
}
