@import "../../styles/index.scss";

.table {
  @extend %centered;
  width: 90%;
  background-color: #fff;
  border-radius: 6px;
  overflow: scroll;
  
  &__cell {
    text-align: center;
    padding: 8px;
    border-top: 3px dotted #e0f0ec;
  }
}