.blocks {
  width: 100%;
  height: auto;
  background: #e0f0ec;
  padding: 10px 15px;

  &__header {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 10px;
  }

  &__select {
    display: flex;
    margin: 30px;
  }

  &__quantity {
    width: 110px;
    height: 30px;
    margin-left: 10px;
  }

  &__page {
    display: flex;
    justify-content: flex-end;
  }
}
