@import "../../styles/index.scss";

.title,
.subtitle {
  color: $c-text;
  width: 300px;
  @extend %centered;
  align-items: center;
  text-align: center;
}

.title {
  padding-top: 20%;
  font-size: $fs-title;
  font-weight: $fw-bold;
}
