@import '../../styles/variables.module';

.title,
.subtitle {
  color: $c-text;
  width: 300px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.title {
  padding-top: 20%;
  font-size: $fs-title;
  font-weight: $fw-bold;
}
